dev/node-red-notifier-data/flows.json
[{"id":"522f6bba.b3f424","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8316d426.c53568","type":"grpc-server","port":"5051","name":"Messenger-gRPC","server":"messenger","protoFile":"syntax = \"proto3\";\n\nimport \"google/protobuf/empty.proto\";\n\n\n\npackage messenger;\n\n/**\n * Services that the bot service provides to the rest of the infrastructure\n */\nservice Messenger {\n  rpc SendTestMessage (TestMessageRequest) returns (google.protobuf.Empty);\n}\n\nmessage TestMessageRequest {\n  string chatId = 1;\n  string text = 2;\n}\n\n\nenum MessageType {\n  PLAIN = 0;\n  MARKDOWN = 1;\n}\n","ca":"","chain":"","key":"","mutualTls":false,"localServer":true},{"id":"fe1289ab.8a3c78","type":"inject","z":"522f6bba.b3f424","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["f785dee.857442"]]},{"id":"f785dee.857442","type":"debug","z":"522f6bba.b3f424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":120,"wires":[]},{"id":"a250d435.7e6168","type":"grpc-call","z":"522f6bba.b3f424","name":"SendTestMessage","server":"8316d426.c53568","service":"Messenger","method":"SendTestMessage","chain":"","key":"","x":580,"y":260,"wires":[["f09a480b.67beb8"]]},{"id":"9caea6af.30b148","type":"inject","z":"522f6bba.b3f424","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chat\": \"abc\", \"text\": \"Hello\"}","payloadType":"json","x":200,"y":280,"wires":[["a250d435.7e6168"]]},{"id":"f09a480b.67beb8","type":"debug","z":"522f6bba.b3f424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]}]